/*COLORES*
#C4D7E0
black
#545454;
#A2CFE4;
#48b0e0;
white;
#ffffff;
#F8F9D7;
*/




*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
/*HEADER*/
header{
    width: 100%;
}

.header-1{
    background-color: #C4D7E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-logo{
    padding-left: 5rem;
}

nav{
    margin-top: 4rem;
}

nav ul{
    display: flex;
    gap: 7rem;
    margin-left: -40px;
}


.header-1 nav ul li {
    font-family: be vietnam pro;
    list-style: none;
}

.header-1 nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
}

.social-media{
    margin-top: 4rem;
    margin-right: 1.5rem;
}
/*HTML INDEX*/
.separador{
    background-color: #545454;
    padding: 5px 5px 5px 5px;
}

.main-grid{
    display: grid;
    grid-template: repeat(2,50vh) / repeat(3,2fr);
    grid-template-areas: 
    "item1 item1 item2"
    "item3 item4 item5"
    ;
}

.imgindex1{
    border-radius: 100px;
}

.item1{
    grid-area: item1;
    align-self: center;
    text-align: center;
    padding: 2.5rem;
}

.item2{
    grid-area: item2;
    align-self: center;
    justify-self: center;
}

.item3{
    justify-self: center;
    align-self: center;
    grid-area: item3;
}

.item4{
    grid-area: item4;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.item5{
    grid-area: item5;
    justify-self: center;
    align-self: center;
}

/*HTML SABORES*/


.sabores-grid{
    display: grid;
    grid-template: repeat(2,50vh) / repeat(3,2fr);
    grid-template-areas:
    "item1-sabores item2-sabores item5-sabores"
    "item3-sabores item4-sabores item5-sabores"
}

.item1-sabores{
    grid-area: item1-sabores;
    justify-self: center;
    align-self: center;
    background-color:#A2CFE4;
    padding: 7px 7px 5px 7px;
    border-radius: 10px;
}
.item2-sabores{
    grid-area: item2-sabores;
    justify-self: center;
    align-self: center;
    background-color:#A2CFE4;
    padding: 7px 7px 5px 7px;
    border-radius: 10px;
}
.item3-sabores{
    grid-area: item3-sabores;
    justify-self: center;
    align-self: center;
    background-color:#A2CFE4;
    padding: 7px 7px 5px 7px;
    border-radius: 10px;
}
.item4-sabores{
    grid-area: item4-sabores;
    justify-self: center;
    align-self: center;
    background-color:#A2CFE4;
    padding: 7px 7px 5px 7px;
    border-radius: 10px;
}
.item5-sabores{
    grid-area: item5-sabores;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.sabores-todos{
    background-color: #A2CFE4;
    font-family: be vietnam pro;
    font-size: 2rem;
    font-style: var(900);
    border-radius: 10px;
    height:2.5rem;
}
    

/*HTML UBICACION*/

.ubicacion-grid{
    display: grid;
    grid-template-columns: 50% 40%;
    grid-template-rows: 100vh;
    align-items:center;
    gap: 2%;
}

.ubicacion-info{
    text-align: center;
    padding-left: 3rem;
}

.ubicacion-info iframe{
    height: 50rem;
    width: 60rem;
}

.ubicacion-galeria-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,22vh);
    padding-left: 4rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.galeria-item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
}
.galeria-item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
}
.galeria-item3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
}
.galeria-item4{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
}
.galeria-item5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    overflow: hidden;
}
.galeria-item6{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    overflow: hidden;
}

/*CONTACTO HTML*/

.container-form{
    background-color: #545454;
    padding: 2rem 2rem 2rem 2rem;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.contacto-titulo{
    text-align: center;
}

.form-1{
    height: 4rem;
    width: 90%;
}

.form-2{
    height: 25rem;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.contacto-button{
    width: 90%;
    height: 4rem;
    border-radius: 5px;
    background-color: #A2CFE4;
    font-size: 2rem;
    font-family: be vietnam pro;
    border-style: none;
    
}

.contacto-button:focus{
    background-color: #48b0e0;
}

.contacto-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100vh;
}

.center-contacto{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}

.contacto-img{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.contacto-img img{
    border-radius: 10px;
}

.contacto-grid3{
    grid-column-start: 3;
    grid-column-end: 4;
    height: 80vh;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.contacto-grid3 img{
    border-radius: 10px;
}

.item-promos h3{
    font-family: be vietnam pro;
    font-size: 10rem;
    font-weight: 600;
    color: #A2CFE4;
    text-align: center;
}

.promos-destacadas{
    font-family: be vietnam pro;
    color: white;
    font-size: 6.4rem;
    font-style: italic;
    text-align: center;
}

.form-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly
}

.total-main{
    background-image: url("../assets/img/helados-backgroundv2.png");
    background-repeat:repeat-y;
    width: 100%;
    background-size: 150%;
}

.total-main div h1{
    padding-bottom: 4rem;
    font-family: caveat;
    font-size: 6.4rem;
    color: #A2CFE4;
    margin: 0%;
}

.video-main{
    text-align: center;
}

.parrafo-main{
    font-family: be vietnam pro;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.total-main section div .sabores-destacados{
    font-family: be vietnam pro;
    font-size: 6.4rem;
    font-style: italic;
    color: white;
    text-align: center;
}

.total-main div h2{
    font-family: caveat;
    font-size: 4.8rem;
    color: #ffffff;
}

.total-main section div h3{
    font-family: be vietnam pro;
    font-size: 12.8rem;
    color: #A2CFE4;
    font-weight: 900;
}

.sabores-destacados{
    font-family: be vietnam pro;
    color: white;
    font-size: 6.4rem;
    font-style: italic;
    text-align: center;
}


main section div a{
    text-decoration: none;
    color: black;
}

/*FOOTER*/

footer{
    background-color: #F8F9D7;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    height: 10.1rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}

footer section ul{
    display: flex;
    flex-direction: row;
}
footer div ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.footer-copyright{
    background-color: #545454;
    font-family: be vietnam pro;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

.footer-copyright p{
    margin-bottom: 0;
}


footer section ul li{
    font-family: be vietnam pro;
    list-style: none;
}



footer div ul li{
    list-style: none;
}

.footer-item1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.6rem;
}


.footer-item2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.6rem;
}

.footer-item3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.6rem;
}

/*MEDIA QUERIS 1440PX*/

@media(max-width:1440px){
    .ubicacion-galeria-grid{
        grid-template-columns: repeat(4,23%);
        grid-template-rows: repeat(4,22vh);
        padding-left: 00px;
        gap: 0.2rem;
    }

    .ubicacion-grid{
    display: grid;
    grid-template-columns: 70rem 50%;
    grid-template-rows: 100vh;
    align-items:center;
    gap: 0%;
    }

    .galeria-item1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        overflow: hidden;
    }
    .galeria-item2{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        overflow: hidden;
    }
    .galeria-item3{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow: hidden;
    }
    .galeria-item4{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow: hidden;
    }
    .galeria-item5{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        overflow: hidden;
    }
    .galeria-item6{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
        overflow: hidden;
    }

    .contacto-grid3 {
        grid-column-start: 3;
        grid-column-end: 4;
        height: 80vh;
        width: 80%;
        align-self: center;
        justify-self: center;
        margin-top: 100px;
    }

    .promo-img img{
        width: 100%;
        height: 100%;
    }
}

/*MEDIA QUERIS 1360PX*/
@media(max-width:1360px){
    .video-main{
        padding-top: 2rem;
        width: 100%;
        height: 55rem;
        overflow:visible;
    }

    video{
        width: 100%;
        height: 55rem;
    }

    .video-fabrica{
        width: 100rem;
        height: 56.3rem;
    }

    .ubicacion-grid{
        display: grid;
        grid-template-columns: 70rem 50%;
        grid-template-rows: 100vh;
        align-items:center;
        gap: 0%;
        }

    .ubicacion-grid section {
        width: 95%;
    }    
    .ubicacion-galeria-grid{
        grid-template-columns: repeat(4,20%);
        grid-template-rows: repeat(4,22vh);
        padding-left: 0px;
        gap: .2rem;
    }
}

/*MEDIA QUERIS 1024PX*/
    @media(max-width:1024px){
    nav ul{
        gap: 3rem;
    }

    .video-main{
        width: 100%;
        overflow: hidden;
    }

    video{
        width: 100%;
    }

    .video-fabrica{
        width: 100rem;
        height: 50rem;
    }

    .total-main section div h3{
        font-size: 9rem;
    }

    .total-main section div .sabores-destacados{
        font-size: 3rem;
    }

    .item1-sabores{
        width: 80%;
    }
    .item1-sabores img{
        width: 100%;
    }

    .item2-sabores{
        width: 80%;
    }
    .item2-sabores img{
        width: 100%;
    }

    .item3-sabores{
        width: 80%;
    }
    .item3-sabores img{
        width: 100%;
    }

    .item4-sabores{
        width: 80%;
    }
    .item4-sabores img{
        width: 100%;
    }

    .ubicacion-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        align-items: center;
        gap: 0%;
    }

    .ubicacion-galeria-grid{
        grid-template-columns: repeat(1,30rem);
        grid-template-rows: repeat(2,35rem);
        padding-left: 0px;
        gap: 0.2rem;
    }

    .ubicacion-info iframe{
        height: 40rem;
        width: 40rem;
    }

    .galeria-item1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: aqua;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .galeria-item1 img{
        width: 100%;
    }
    .galeria-item2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: blue;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .galeria-item2 img{
        width: 100%;
    }

    .galeria-item3{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        overflow: hidden;
        display: none;
    }
    .galeria-item4{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        overflow: hidden;
        display: none;
    }
    .galeria-item5{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        overflow: hidden;
        display: none;
    }
    .galeria-item6{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
        overflow: hidden;
        display: none;
    }

    .contacto-img {
        display: none;
    }

    .contacto-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 100vh;
    }

    .contacto-grid3 {
        grid-column-start: 2;
        grid-column-end: 4;
        width: 80%;
        align-self: center;
        justify-self: center;
        margin-top: 0px;
    }

    .promo-img img{
        width: 100%;
        height: 80%;
    }
}
/*MEDIA QUERIS 768PX*/
@media(max-width:768px){
    .contenedor-logo {
        padding-left: 1rem;
    }

    nav ul {
    gap: 2rem;
    margin-left: -20px;
    }

    .item3 {
        padding-left: 2.5rem;
    }

    .total-main div h1 {
        padding-bottom: 1rem;
    }

    .parrafo-main {
        font-size: 1.6rem;
    }

    .video-fabrica {
    width: 70rem;
    }

    .sabores-grid {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(4,25vh);
    grid-template-areas:
        "item1-sabores ."
        "item3-sabores item5-sabores"
        "item2-sabores item5-sabores"
        "item4-sabores .";
    }

    .item1-sabores {
        width: 210px;
        height: 190px;
    }

    .item1-sabores img {
        width: 195px;
        height: 175px;
    }

    .item2-sabores {
        width: 210px;
        height: 190px;
    }

    .item2-sabores img {
        width: 195px;
        height: 175px;
    }

    .item3-sabores {
        width: 210px;
        height: 190px;
    }

    .item3-sabores img {
        width: 195px;
        height: 175px;
    }

    .item4-sabores {
        width: 210px;
        height: 190px;
    }

    .item4-sabores img {
        width: 195px;
        height: 175px;
    }


    .ubicacion-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh 50vh;
        align-items: center;
        gap: 0%;
    }

    .ubicacion-info {
        margin-top: -80px;
    }

    .ubicacion-info iframe {
        height: 26rem;
        width: 60rem;
    }

    .container-carrousel{
        height: 50rem;
        width: 95%;
        padding: 50px 120px 150px 120px;
        margin-top: -150px;
    }

    .contacto-grid {
        grid-template-columns: repeat(2,1fr);
    }

    .center-contacto {
        height: 90vh;
        margin-top: -2rem;
    }

    .promos-destacadas{
        font-size: 5rem;
    }
}


@media(max-width:425px){
    .header-1 {
        background-color: #C4D7E0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        margin-left: 0px;
        text-align: center;
        padding-left: 0px;
        }
    
    .contenedor-logo {
        padding-left: 0rem;
        padding-top: 1rem;
    }
    
    .main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 0px 300px 250px 300px;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5";
    }

    .item2 {
        grid-area: item2;
        align-self: center;
        justify-self: center;
        display: none;
    }

    .social-media {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;

    }

    nav {
    margin-top: 2rem;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 1rem;
    }

    footer div ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .img-location{
        padding-left: 3.1rem;
    }

    .footer-logos{
        display: flex;
        flex-direction: row;
    }

    .video-fabrica {
        width: 27rem;
        height: auto;
    }

    .video-main {
        width: 100%;
        overflow: hidden;
        height: auto;
    }

    .sabores-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px repeat(4,29vh);
        grid-template-areas:
            "item5-sabores"
            "item1-sabores"
            "item3-sabores"
            "item2-sabores"
            "item4-sabores";
    }

    .total-main div h1 {
        padding-bottom: 0rem;
        padding-top: 1rem;
    }

    .ubicacion-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50vh 50vh;
        align-items: center;
        gap: 0%;
    }

    .ubicacion-info {
        padding-left: 0rem;
    }

    .ubicacion-info iframe {
        height: 26rem;
        width: 25rem;
    }

    .container-carrousel {
        height: 50rem;
        width: 95%;
        padding: 0px;
        margin-top: 0px;
        padding-top: 70px;
    }

    .contacto-grid {
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
    }

    .contacto-grid3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 80%;
        height: auto;
        align-self: center;
        justify-self: center;
        margin-top: 0px;
    }
    .center-contacto {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: auto;
        }   
    
    .promos-destacadas {
        font-size: 4.5rem;
    }
    .container-form{
    margin-bottom: 20px;
    }
}


/*MEDIA QUERIS 320PX*/
@media(max-width:320px){
    .header-1 {
        background-color: #C4D7E0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1rem;
        margin-left: 0px;
        text-align: center;
        padding-left: 0px;
        }
    
    .contenedor-logo {
        padding-left: 0rem;
        padding-top: 1rem;
    }
    
    .main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 0px 300px 250px 300px;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5";
    }

    .item2 {
        grid-area: item2;
        align-self: center;
        justify-self: center;
        display: none;
    }

    .social-media {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;

    }

    nav {
    margin-top: 2rem;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 1rem;
    }

    footer div ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .img-location{
        padding-left: 3.1rem;
    }

    .footer-logos{
        display: flex;
        flex-direction: row;
    }

    .video-fabrica {
        width: 27rem;
        height: auto;
    }

    .video-main {
        width: 100%;
        overflow: hidden;
        height: auto;
    }

    .sabores-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 450px repeat(4,29vh);
        grid-template-areas:
            "item5-sabores"
            "item1-sabores"
            "item3-sabores"
            "item2-sabores"
            "item4-sabores";
    }

    .total-main div h1 {
        padding-bottom: 0rem;
        padding-top: 1rem;
    }

    .ubicacion-grid {
        display: grid;
        grid-template-columns: 32rem;
        grid-template-rows: 50vh 50vh;
        align-items: center;
        gap: 0%;
    }

    .ubicacion-info {
        padding-left: 0rem;
    }

    .ubicacion-info iframe {
        height: 26rem;
        width: 25rem;
    }

    .container-carrousel {
        height: 50rem;
        width: 95%;
        padding: 0px;
        margin-top: 0px;
        padding-top: 70px;
    }

    .contacto-grid {
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
    }

    .contacto-grid3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        width: 80%;
        height: auto;
        align-self: center;
        justify-self: center;
        margin-top: 0px;
    }
    .center-contacto {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        height: auto;
        }   
    
    .promos-destacadas {
        font-size: 4.5rem;
    }
    .container-form{
    margin-bottom: 20px;
    }
}